@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* utility classes */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
:root {
  --heading-color: #333;
  --para-color: rgb(133, 133, 133);
  --color: #560bad;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  /* color: var(--para-color); */
  font-size: 1.6rem;
}

/* //////////////start //////// */
/* nav bar  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: #fff;
  transition: 0.5s all ease;
  padding: 1rem 10rem;
  position: fixed;
  z-index: 10000000;
  top: 0%;
  box-shadow: 4.5px 4.5px 3.6px rgba(189, 189, 189, 0.09),
    12.5px 12.5px 10px rgba(110, 109, 109, 0.09),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.045),
    100px 100px 80px rgba(0, 0, 0, 0.031);
}

.nav-logo {
  width: 4rem;
}

.nav-menu .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu .nav-links li {
  margin: 0px 1.5rem;
  overflow: hidden;
}
.nav-menu .nav-links li a {
  font-size: 1.6rem;
  color: #121212;
  overflow: hidden;
}
.nav-menu .nav-links li a:hover {
  color: #5849a1;
  font-weight: bold;
  border-bottom: 0.2rem solid #5849a1;
  overflow: hidden;
}

/* hambarger icon */

nav .navbar-toggler {
  display: none;
  border: none;
  outline: none;
}
nav .navbar-toggler .toggler-icon {
  width: 27px;
  height: 3px;
  border-radius: 0.5rem;
  background-color: #121212;
  margin: 0.4rem 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-out 0s;
}
/* social icon */

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links i {
  margin: 0 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.social-links span {
  font-size: 1.6rem;
}
.social-links i:hover {
  color: #5a42d1;
}

/* nbanner  */

#banner {
  background-image: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.83748) 25%,
      rgba(255, 255, 255, 0.20940126050420167) 80%
    ),
    url(./Img/img1.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: block;
  z-index: -1;
}

.wave svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: block;
}

/* desc */
.banner-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 14rem auto;
}
.banner-desc h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--heading-color);
}
.banner-desc p {
  text-align: center;
  font-size: 1.6rem;
  color: #121212 !important;
}

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
  flex-wrap: wrap;
}
.cta-primary {
  font-size: 1.8rem;
  font-weight: 580;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  color: white;
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  margin: 1.2rem;
}

.cta-primary:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.cta-primary:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.cta-secondary {
  --color: #560bad;
  font-family: inherit;
  display: flex;
  align-items: center;
  padding: 1.1rem 3rem;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.3s;
  z-index: 1;
  font-size: 1.8rem;
  border-radius: 5rem;
  font-weight: 500;
  color: var(--color);
}
.cta-secondary i {
  margin-left: 1rem;
}

.cta-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 15rem;
  width: 40rem;
  border-radius: 50%;
}

.cta-secondary:hover {
  color: #fff;
}

.cta-secondary:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.cta-secondary:hover:before {
  top: -30px;
  left: -30px;
}

.cta-secondary:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

/* service */
#service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  text-align: center;
}
#service h1 {
  font-size: 3rem;
  margin: 0 auto;
}
#service > p {
  margin: 2rem auto;
  font-size: 1.8rem;
}

.service-items {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.service-items-right {
  width: 40vw;
  margin: 0 auto;
}
.service-items-right img {
  width: 45vw;
  margin: 0 auto;
}
.service-items-left {
  width: 50vw;
}
.service-items-left .row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 2.4rem auto;
}
.service-items-left .row .box {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  margin: 1.2rem;
}
.service-items-left .row #active {
  box-shadow: 0px 2px 8px rgba(75, 75, 75, 0.46);
  /* border: 1px solid #333; */
  z-index: 1;
  margin: 1.2rem;
  border-radius: 5px;
}
.service-items-left .row .box p {
  text-align: left;
  font-size: 1.4rem;
  overflow: hidden;
}
.service-items-left .row .box h4 {
  text-align: left;
  font-size: 1.8rem;
}
.service-items-left .row .box i {
  text-align: left;
  font-size: 3.6rem;
  color: var(--color);
  margin-bottom: 1.2rem;
}

/* pricing */

#pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pricing h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.pricing-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing-box {
  padding: 2.4rem;
  border: 1px solid rgb(216, 216, 216);
  margin: 3rem 3rem;
  border-radius: 1rem;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
.pricing-box span {
  padding: 0.4rem 0.8rem;
  background-color: rgb(204, 201, 201);
  margin-bottom: 1.6rem;
  border-radius: 2px;
}
.pricing-box h2 {
  margin-top: 1.2rem;
  font-size: 3.2rem;
}
.pricing-box hr {
  margin: 1.6rem 0;
  width: 90%;
}

.price-attr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1.6rem 0; */
}
.price-attr i {
  margin-right: 1rem;
}
.price-attr p {
  font-weight: 500;
  margin: 1.1rem 0;
  color: #121212;
}
.price-attr .fa-solid {
  font-size: 1.4rem;
}
.pricing-box button {
  margin-top: 2.4rem;
  width: 100%;
  background-color: var(--color);
  color: white;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pricing-box:hover {
  box-shadow: 0px 2px 8px rgba(75, 75, 75, 0.46);
}
#standard {
  background-color: var(--color);
  color: white;
  box-shadow: 0px 4px 8px rgba(75, 75, 75, 0.5);
}
#standard p {
  color: white;
}
#standard .price-attr p {
  color: white;
}
#standard button {
  cursor: pointer;
  background-color: white;
  color: var(--color);
}

/* subscribe */

#subscribe {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--color)),
    url(./Img/img2.jpg);
  min-height: 70vh;
  width: 70vw;
  background-size: cover;
  background-position: center;
  margin: 3.2rem auto;
  background-attachment: fixed;
  position: relative;
}
#subscribe .subs-content {
  position: absolute;
  left: 50%;
  top: 20%;
  text-align: center;
  transform: translate(-50%, 20%);
}
.subs-content {
  display: flex;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subs-content h1 {
  color: #fff;
  font-size: 3rem;
}
.subs-content p {
  margin: 2.4rem 0;
  color: #ffffff;
}

.subs-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subs-form i {
  position: absolute;
  left: 08%;
  z-index: 10000;
  font-size: 1.6rem;
  color: var(--color);
}
.subs-form input {
  padding: 1.6rem 4.8rem;
  margin: 1rem;
  border: none;
  border-radius: 50px;
  width: 30vw;
  position: relative;
  background: #e8e8e8;
  /* box-shadow: 20px 20px 60px #c5c5c5,
         -20px -20px 60px #ffffff; */
  transition: 0.3s;
}
.subs-form input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  position: absolute;
  left: 20%;
}

.subs-btn {
  padding: 1.6rem 2.4rem;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  
}
